@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Libre+Baskerville&display=swap");
h1 {
  font-family: "Comfortaa", serif;
  font-weight: bold;
}

h2, h3, h4 {
  font-family: "Comfortaa", serif;
}

p {
  font-family: "Libre Baskerville", sans-serif;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #72B0C0;
}

a:hover {
  color: #8df4ff;
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
#zen-supporting [role=article] {
  padding: 35px;
}

* {
  box-sizing: border-box;
}

.swatch {
  width: 100%;
  height: 100px;
  border: 1px solid;
}

.primary {
  background-color: #D9F3F6;
}

.accent1 {
  background-color: #72B0C0;
}

.accent2 {
  background-color: #4C8DA1;
}

.text-dark {
  background-color: #8df4ff;
}

body {
  background-image: url("./src/rain.jpg");
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  margin: 0;
  padding: 0;
}

body::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  pointer-events: none;
  z-index: -1;
}

.page-wrapper {
  color: #D9F3F6;
  display: grid;
  grid-template-columns: 25% auto;
  grid-template-rows: auto;
  row-gap: 10px;
}
.page-wrapper > aside {
  grid-column: 1;
  grid-row: 1/6;
  padding: 30px;
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
}
.page-wrapper > aside .wrapper {
  row-gap: 20px;
}
.page-wrapper > aside .wrapper > .design-selection li,
.page-wrapper > aside .wrapper > .design-archives li,
.page-wrapper > aside .wrapper > .zen-resources li {
  margin-bottom: 15px;
}
.page-wrapper > .main {
  grid-column: 2/3;
  grid-row: 2/6;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 450px 150px 500px;
  row-gap: 10px;
}
.page-wrapper > .main > .explanation,
.page-wrapper > .main > .participation,
.page-wrapper > .main > .benefits,
.page-wrapper > .main > .requirements {
  padding: 10px;
}
.page-wrapper > .main > .explanation {
  grid-column: 1/2;
  grid-row: 1/2;
}
.page-wrapper > .main > .participation {
  grid-column: 2/3;
  grid-row: 1/2;
}
.page-wrapper > .main > .benefits {
  grid-column: 1/3;
  grid-row: 2/3;
}
.page-wrapper > .main > .requirements {
  grid-column: 1/3;
  grid-row: 3/4;
}
.page-wrapper > .main footer {
  grid-column: 1/3;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background: linear-gradient(to right, #155462, #2193b0, #155462, #2193b0);
  background-size: 400% 400%;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-top: 3px solid #fff;
  animation: moveGradient 10s linear infinite;
}
.page-wrapper > .main footer a {
  color: white;
  text-decoration: none;
  transition: color 0.08s, transform 0.12s;
}
.page-wrapper > .main footer a:hover {
  color: #ccfcff;
  text-decoration: underline;
  transform: scale(1.2);
}
.page-wrapper > .intro {
  grid-column: 2/3;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 30% auto;
  grid-template-rows: 150px 300px;
  row-gap: 10px;
  padding: 30px;
  margin-bottom: 20px;
}
.page-wrapper > .intro > header {
  grid-column: 1/-1;
  grid-row: 1;
}
.page-wrapper > .intro > .summary {
  grid-column: 1;
  grid-row: 2;
}
.page-wrapper > .intro > .preamble {
  grid-column: 2;
  grid-row: 2;
}
@media (min-width: 751px) {
  .page-wrapper .page-wrapper {
    line-height: 2.5;
    grid-template-rows: none;
  }
}
@media (max-width: 750px) {
  .page-wrapper {
    grid-template-columns: 1fr;
  }
  .page-wrapper > aside,
  .page-wrapper > .main,
  .page-wrapper > .intro {
    grid-column: 3;
    padding-right: 10px;
  }
  .page-wrapper > aside {
    grid-row: 2;
  }
  .page-wrapper > .main {
    grid-row: 3;
    grid-template-columns: 1fr;
    grid-template-rows: none;
  }
  .page-wrapper > .main > .explanation,
  .page-wrapper > .main > .participation,
  .page-wrapper > .main > .benefits,
  .page-wrapper > .main > .requirements,
  .page-wrapper > .main > footer {
    grid-column: 1;
    grid-row: auto;
  }
  .page-wrapper > .main > footer {
    height: 100px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .page-wrapper > .main > footer a:hover {
    transform: scale(1);
  }
  .page-wrapper > .intro {
    grid-template-columns: 1fr;
    gap: 5px;
  }
  .page-wrapper > .intro > header,
  .page-wrapper > .intro > .summary,
  .page-wrapper > .intro > .preamble {
    grid-column: 1;
  }
  .page-wrapper > .intro header {
    grid-row: 1;
  }
  .page-wrapper > .intro .summary {
    grid-row: 2;
  }
  .page-wrapper > .intro .preamble {
    grid-row: 3;
  }
}

/*ANIMATIONS*/
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideIn {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}
#zen-intro h1, #zen-intro h2 {
  animation-name: fadeIn, slideIn, shake;
  animation-duration: 1.5s, 1.5s, 0.5s;
  animation-timing-function: ease-out, ease-out, linear;
  animation-fill-mode: forwards;
  animation-delay: 0s, 0s, 2s;
}

/*# sourceMappingURL=style.css.map */
